.mains{
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
  .sub-mains {
    display: flex;
    justify-content: center;
    height: 350px;
    width: 35%;
    box-shadow: 11px 12px 13px 12px lightblue;
    padding-top: 40px;
    border-radius: 60px;
    position: relative;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  input{
    
      height: 50px;
      border-radius: 60px;
      box-shadow: lightcyan;
      border: none;
      outline: none;
      background-color:#b8d6ff;
  }
  
  .emails{
      height: 25px;
      width: 25px;
      position: absolute;
      padding: 14px 0 0 25px;
  }
  
  .names{
      padding-left: 70px;
      font-size: 20px;
  }
  .second-inputs{
      padding-top: 20px;
  }
  
  button{
      width: 300px;
      height: 50px;
      border-radius: 60px;
      background-color:rgb(161 227 249);
      color: rgb(19, 19, 228);
      font-size: 18px;
      border: none;
      font-family: 'Montserrat', sans-serif;
      margin-top: 10px;
  }
  
  .contact-button{
   margin-top: 20px;
   margin-left: 25px;
  }
  .headings{
    font-family: 'Montserrat', sans-serif;
  }
  .contact-content{
    font-family: 'Montserrat', sans-serif;
    color :white ;
    margin-left:110px;
     font-size:20px;
     width:500px;
  }
  @media (max-width: 900px) {
    
    .mains{
      background-size: cover;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column-reverse;
    }
    .sub-mains {
      width: 70%; 
    }
    .contact-content{
     width: 65%;
    font-size:14px;
    text-align: center;
    margin-right: 80px;
       
    }
   
    .contact-button{
      width: 70%;
    }
    .names {
      font-size: 16px;
       width: 130px;
      
    }
  
    
  input{
      height: 35px;
      font-size: 14px; 
    }
  
  
  }

   .headings{
    color: white;
   }